.wrapper{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    z-index: 5;
    background: #000000;
    font-family: 'Apparat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    /* color: #070707; */
    color: #1EF868;
}

.green{
    color: #1EF868;
}

.white{
    color: #ffffff;
}

.isActive{
    display: flex;
}

@media (max-width: 480px) {
    .wrapper{
        display: none;
    }
}